<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Listado de Comerciantes</h5>
                </div>
                <div class="ibox-content">
                    
                    <div class="row m-b">
                        <div class="col-sm-6">
                            <a href="#/index/comerciante" class="m-r btn btn-primary btn-md"><i class="fa fa-plus"></i> Agregar Comerciante</a>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" placeholder="Buscar comerciante..." ng-model="buscar" class="input-md form-control">
                                <span class="input-group-btn"><button type="button" ng-click="filtrar()" class="btn btn-md btn-primary"> <i class="fa fa-search"></i> </button> </span>
                            </div>
                        </div>
                    </div>

                    <div class="sk-spinner sk-spinner-wave" ng-if="loading">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    
                    <div class="alert alert-warning" ng-if="error&&!loading">
                        <i class="fa fa-warning"></i> No se encontraron comerciantes.
                    </div>

                    <div class="table-responsive" ng-if="!loading&&!error">
                        <table class="table table-bordered no-wrap">
                            <thead>
                                <tr>
                                    <th>Giro</th>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Vigencia Permiso</th>
                                    <th width="150"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="comerciante in comerciantes | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                    <td>{{comerciante.giro}}</td>
                                    <td>{{comerciante.tipo}}</td>
                                    <td>{{comerciante.nombre}}</td>
                                    <td>{{comerciante.vigencia}}</td>
                                    <td class="text-right">
                                        <a href="#/index/pagos/{{comerciante.idcomerciante}}" class="btn btn-sm btn-primary m-r"> <i class="fa fa-usd"></i> </a>
                                        <a href="#/index/comerciante_editar/{{comerciante.idcomerciante}}" class="btn btn-sm btn-default m-r"> <i class="fa fa-pencil"></i> </a>
                                        <a ng-click="borrarComerciante( $index )" class="btn btn-sm btn-danger"> <i class="fa fa-times"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row" ng-if="!error&&!loading">
                        <div class="col-md-12">
                            <uib-pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="setPage(currentPage)" 
                                items-per-page="entryLimit"
                                class="pagination-sm pull-right"
                            ></uib-pagination>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>